{
  "arrowParens": "always",
  "singleQuote": false,
  "bracketSpacing": true,
  "trailingComma": "all",
  "printWidth": 120,
  "jsxBracketSameLine": false,
  "parser": "typescript",
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "parser": "json"
      }
    }
  ]
}
